<div id="confirmModal" class="modal fade" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Are you sure?</h5>
            </div>
            <div class="modal-body error" id="confirmModalErr">
                An error occurred
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmModalYesBtn" id="loginBtn">Yes</button>
            </div>
        </div>
    </div>
</div>
