<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <% let title = appname; if (locals.pagetitle) { title = `${pagetitle} — ${appname}` } %>
    <title><%= title %></title>

    <% if (locals.preloadFiles) { %>
        <% preloadFiles.forEach(f => {if (f) { %>
            <link rel="preload" href="<%= f %>" as="image">
        <% }}) %>
    <% } %>
    <link rel="preload" href="/style.css" as="style">
    <link rel="preload" href="/bootstrap-icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="/bootstrap/js/bootstrap.bundle.min.js" as="script">
    <link rel="stylesheet" href="/style.css" media="all">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="shortcut icon" type="image/svg+xml" href="logo.svg">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon32.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#26a269">

    <meta name="keywords" content="food, delivery, pizza, eat">
    <meta name="description" content="<%= appdesc %>">

    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="">
    <meta property="og:url" content="<%= siteurl %>">
    <meta property="og:image" content="/og_img.jpg">
    <meta property="og:description" content="<%= appdesc %>">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="<%=
        siteurl.replaceAll('https://', '').replaceAll('http://', '')
    %>">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= appdesc %>">
    <meta name="twitter:image" content="/tw_img.jpg">
</head>
