<header>
    <nav>
        <div>
            <a href="/">
                <img src="/logo.svg" alt="logo">
                <%= appname %>
            </a>
            <button type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNav" class="collapse navbar-collapse">
                <ul>
                    <!--li><a href="#">Additional link</a></li-->
                </ul>
                <ul class="ms-auto">
                    <% if (locals.user) { %>
                        <li class="dropdown">
                            <a
                                class="dropdown-toggle" href="#"
                                id="userDropdown"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <% if (user.is_superuser) { %>
                                    <i title="Logged in as Superuser" class="bi-star-fill"></i>
                                <% } else if (user.is_admin) { %>
                                    <i title="Logged in as Restaurant Owner" class="bi-shop"></i>
                                <% } %>
                                Hi, <%= user.username %>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a href="/order">Orders</a></li>
                                <li><a href="/user/account">Account</a></li>
                                <% if (user.is_superuser) { %>
                                    <li>
                                        <a href="/upgrade_request"><i class="bi-star-fill"></i> Upgrade requests</a>
                                    </li>
                                <% } %>
                                <li><hr></li>
                                <li><a href="#" onclick="logout()">Log Out</a></li>
                            </ul>

                        </li>
                    <% } else { %>
                        <li>
                            <a href="#"
                                data-bs-toggle="modal"
                                data-bs-target="#loginModal"
                            >Log In</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    function logout() {
        fetch('/user/logout', {method: 'POST'}).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => { location.reload() }).catch(err => {
            console.error(err)
            location.reload()
        })
    }
</script>

<%- include('login-modal') %>
