<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('../components/form', {
                    _form: {
                        id: 'loginForm',
                        onchange: 'resetLoginForm()',
                        fields: [
                            {
                                label: 'Username',
                                name: 'username',
                                id: 'loginUsernameEntry',
                                err: 'Please insert your username'
                            },
                            {
                                label: 'Password',
                                name: 'password',
                                type: 'password',
                                id: 'loginPasswordEntry',
                                err: 'Please insert your password'
                            },
                        ]
                    }
                }) %>
                <hr class="mx-4">
                <h5 class="text-center">
                    Don't have an account?<br>
                    <a href="#" 
                        data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#signupModal">Sign up now!</a>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="login()" id="loginBtn">Log In</button>
            </div>
        </div>
    </div>
</div>

<%- include('form-helper') %>

<script>
    function resetLoginForm() {
        resetForm([
            'loginUsernameEntry', 'loginPasswordEntry', 'loginFormErr'
        ])
    }

    function login() {
        resetLoginForm()
        setBtnDisabled('loginBtn', true)
        if (!checkForm([
                'loginUsernameEntry', 'loginPasswordEntry'
        ])) {
            setBtnDisabled('loginBtn', false)
            return
        }
        let data = getData('loginForm')
        fetch('/user/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            location.reload()
        }).catch(err => {
            handleErr(err, 'loginFormErr', 'loginBtn')
        })
    }
</script>

<%- include('signup-modal') %>
