<div class="modal fade" id="newAddressModal" tabindex="-1" aria-labelledby="newAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAddressModalLabel">New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('../components/form', {
                    _form: {
                        id: 'newAddressForm',
                        onchange: 'resetNewAddressForm()',
                        fields: [
                            {
                                label: 'Contry',
                                name: 'country',
                                err: 'Please insert your country'
                            },
                            {
                                label: 'Address',
                                name: 'address',
                                err: 'Please insert your address'
                            },
                            {
                                label: 'City',
                                name: 'city',
                                err: 'Please insert your city'
                            },
                            {
                                label: 'Postal Code',
                                name: 'postal_code',
                                id: 'postalCodeEntry',
                                err: 'Please insert your postal code'
                            },
                            {
                                label: 'Intercom',
                                name: 'intercom',
                            },
                        ]
                    }
                }) %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="addAddress()" id="addAddressBtn">Add</button>
            </div>
        </div>
    </div>
</div>

<%- include('form-helper') %>

<script>
    function resetNewAddressForm() {
        resetForm([
            'countryEntry', 'addressEntry', 'cityEntry', 'postalCodeEntry',
            'intercomEntry', 'newAddressFormErr'
        ])
    }

    function addAddress() {
        resetNewAddressForm()
        setBtnDisabled('addAddressBtn', true)
        if (!checkForm([
                'countryEntry', 'addressEntry', 'cityEntry', 'postalCodeEntry'
        ])) {
            setBtnDisabled('addAddressBtn', false)
            return
        }
        let data = getData('newAddressForm')
        fetch('/user/address', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            location.reload()
        }).catch(err => handleErr(err, 'newAddressFormErr', 'addAddressBtn'))
    }
</script>
