<div class="modal fade" id="newMenuItemModal" tabindex="-1" aria-labelledby="newMenuItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newMenuItemModalLabel">New Menu Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('../components/form', {
                    _form: {
                        id: 'newMenuItemForm',
                        onchange: 'resetNewMenuItemForm',
                        fields: [
                            {
                                label: 'Name',
                                id: 'menuItemNameEntry',
                                name: 'name',
                                err: 'Please insert a name',
                            },
                            {
                                label: 'Ingredients',
                                name: 'ingredients',
                            },
                            {
                                label: 'Notes',
                                name: 'notes',
                            },
                            {
                                label: 'Category',
                                name: 'category',
                                err: 'Please insert a category',
                            },
                            {
                                label: 'Price',
                                name: 'price',
                                type: 'number',
                                err: 'Please insert a price',
                            }
                        ]
                    }
                }) %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="addMenuItem()" id="addMenuItemBtn">Add</button>
            </div>
        </div>
    </div>
</div>

<%- include('form-helper') %>

<script>
    function resetNewMenuItemForm() {
        resetForm([
            'menuItemNameEntry', 'categoryEntry', 'priceEntry', 'newMenuItemFormErr'
        ])
    }

    function addMenuItem() {
        resetNewMenuItemForm()
        setBtnDisabled('addMenuItemBtn', true)
        if (!checkForm([
               'menuItemNameEntry', 'categoryEntry', 'priceEntry'
        ])) {
            setBtnDisabled('addMenuItemBtn', false)
            return
        }
        let data = getData('newMenuItemForm')
        fetch('/restaurant/<%= restaurant._id %>/menu', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            location.reload()
        }).catch(err => handleErr(err, 'newMenuItemFormErr', 'addMenuItemBtn'))
    }
</script>
