<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('../components/form', {
                    _form: {
                        id: 'signupForm',
                        onchange: 'resetSignupForm()',
                        fields: [
                            {
                                label: 'Username',
                                name: 'username',
                                id: 'signupUsernameEntry',
                                err: 'Please insert a username'
                            },
                            {
                                label: 'Password',
                                name: 'password',
                                type: 'password',
                                id: 'signupPasswordEntry',
                                err: 'Please insert a password'
                            },
                            {
                                label: 'Repeat Password',
                                name: 'passwordRepeat',
                                type: 'password',
                                id: 'signupPasswordRepeatEntry',
                                err: 'Please insert a password'
                            },
                        ]
                    }
                }) %>
                <hr class="mx-4">
                <h5 class="text-center">
                    Already have an account?<br>
                    <a href="#" 
                        data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Log In</a>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="signup()" id="signupBtn">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 start-0 p-3 w-100 d-flex justify-content-center">
    <div class="toast align-items-center text-bg-success border-0 mx-auto my-2"
        role="alert" aria-live="assertive" aria-atomic="true"
        id="signupSuccessToast"
    >
        <div class="d-flex">
            <div class="toast-body">
                Sign up successful! You can now log in.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast" aria-label="Close">
            </button>
        </div>
    </div>
</div>

<!--form helper imported by login-modal-->

<script>
    function resetSignupForm() {
        resetForm([
            'signupUsernameEntry', 'signupPasswordEntry',
            'signupPasswordRepeatEntry', 'signupFormErr'
        ])
    }

    function signup() {
        resetSignupForm()
        setBtnDisabled('signupBtn', true)
        if (!checkForm([
                'signupUsernameEntry', 'signupPasswordEntry',
                'signupPasswordRepeatEntry'
        ])) {
            setBtnDisabled('signupBtn', false)
            return
        }
        let data = getData('signupForm')
        fetch('/user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            setBtnDisabled('signupBtn', false)
            resetSignupForm()
            emptyForm([
                'signupUsernameEntry', 'signupPasswordEntry',
                'signupPasswordRepeatEntry'
            ])
            new bootstrap.Toast(document.getElementById('signupSuccessToast')).show()
        }).catch(err => {
            handleErr(err, 'signupFormErr', 'signupBtn')
        })
    }
</script>
