<%- include('../../partials/H') %>

<div class="content">
    <h2>Upgrade Requests</h2>
</div>

<% if (upgrade_requests.length > 0) { %>
    <% upgrade_requests.forEach(ureq => { %>
        <div id="ureq-row-<%= ureq._id %>"><%- include('../../partials/card-view/H') %>
            <div>
                <h5><i class="bi-person-fill"></i> <strong><%= ureq.user.username %></strong></h5>
                <p><%- ureq.note.replaceAll('\n', '<br>') %></p>
                <div class="d-flex flex-row justify-content-end">
                    <button onclick="rejectRequest('<%= ureq._id %>')" class="btn-outline-danger">Reject</button>
                    <button onclick="approveRequest('<%= ureq._id %>')" class="btn-outline-success ms-2">Approve</button>
                    <!-- approved: boolean in req body -->
                </div>
            </div>
        <%- include('../../partials/card-view/F') %></div>
        <script>
            function _postUreq(ureq_id, approved) {
                fetch(`/upgrade_request/${ureq_id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({approved: approved})
                }).then(res => {
                    if (res.ok) return res.text()
                    else throw Error(res.statusText)
                }).then(res => {
                    // TODO: show toast?
                    document.getElementById(`ureq-row-${ureq_id}`).style.display = 'none'
                }).catch(err => {
                    console.error(err)
                })
            }
            function rejectRequest(ureq_id) { _postUreq(ureq_id, false) }
            function approveRequest(ureq_id) { _postUreq(ureq_id, true) }
        </script>
    <% }) %>
<% } else { %>
    <div class="content text-center">
        <h3>Nothing here!</h3>
        <p>No open upgrade requests</p>
    </div>
<% } %>

<%- include('../../partials/F') %>
