<%- include('../../partials/H') %>

<div class="content">
    <h2>Request an account upgrade to add and manage your restaurant</h2>
    <p><em>
        Please provide all and any information that can be useful to verify
        that you own the restaurant. This may include the address and phone
        number of your restaurant and a link to a reputable website listing
        your restaurant that includes contact information to allow an
        administrator to make sure you are the real owner.
    </em></p>
</div>

<%- include('../../partials/card-view/H') %>
    <div>
        <%- include('../../components/form', {
            _form: {
                id: 'upgradeRequestForm',
                onchange: 'resetUpgradeRequestForm()',
                fields: [
                    {
                        label: 'Message',
                        name: 'note',
                        err: 'You must provide a message',
                        type: 'textarea'
                    }
                ]
            }
        }) %>
        <button id="sendUpgradeRequestBtn" class="btn-primary ms-auto" onclick="sendUpgradeRequest()">Send</button>
    </div>
<%- include('../../partials/card-view/F') %>

<div class="toast-container position-fixed top-0 end-0 start-0 p-3 w-100 d-flex justify-content-center">
    <div class="toast align-items-center text-bg-success border-0 mx-auto my-2"
        role="alert" aria-live="assertive" aria-atomic="true"
        id="ureqSuccessToast"
    >
        <div class="d-flex">
            <div class="toast-body">
                Request sent! An administrator will review it and get back to you.<br>
                You can now close this page.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast" aria-label="Close">
            </button>
        </div>
    </div>
</div>

<%- include('../../partials/form-helper') %>

<script>
    function resetUpgradeRequestForm() {
        resetForm(['noteEntry', 'upgradeRequestFormErr'])
    }

    function sendUpgradeRequest() {
        resetUpgradeRequestForm()
        setBtnDisabled('sendUpgradeRequestBtn', true)
        if (!checkForm(['noteEntry'])) {
            setBtnDisabled('sendUpgradeRequestBtn', false)
            return
        }
        let data = getData('upgradeRequestForm')
        fetch('/upgrade_request', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            // don't re-enable the button
            // setBtnDisabled('sendUpgradeRequestBtn', false)
            new bootstrap.Toast(document.getElementById('ureqSuccessToast')).show()
        }).catch(err => handleErr(err, 'upgradeRequestFormErr', 'sendUpgradeRequestBtn'))
    }
</script>

<%- include('../../partials/F') %>
