<% { %>
<form id="<%= _form.id %>" <% if (_form.onchange) { %>onChange="<%= _form.onchange %>"<% } %>>
    <% _form.fields.forEach(f => { %>
        <% let fid = f.id || (f.name + 'Entry') %>
        <div>
            <label for="<%= fid %>"><%= f.label %></label>
            <% if (f.type == 'textarea') { %>
                <textarea name="<%= f.name %>" id="<%= fid %>"></textarea>
            <% } else { %>
                <input type="<%= f.type == 'number' ? 'text' : f.type || 'text' %>" name="<%= f.name %>"
                    id="<%= fid %>"
                    <% if (f.type == 'number') { %>
                        oninput="(function(e) {e.value = Array.from(e.value).filter(c => '1234567890.'.includes(c)).join('')})(this)"
                    <% } %>
                    <% if (f.value) { %>
                        value="<%= f.value %>"
                    <% } %>
                >
            <% } %>
            <% if (f.err) { %>
                <div class="invalid-feedback"><%- f.err %></div>
            <% } %>
        </div>
    <% }) %>
    <div id="<%= _form.id %>Err" class="error">An error occurred</div>
    <% if (_form.btn) { %>
        <button type="button" id="<%= _form.btn.id %>"
            class="<%= _form.btn.cls || '' %>" onclick="<%= _form.btn.onclick %>">
            <%= _form.btn.text %>
        </button>
    <% } %>
</form>
<% } %>
