<%- include('../partials/H') %>

<%- include('../partials/jumbotron') %>

<%- include('../partials/overlay-card/H') %>
    <h3>Find a restaurant</h3>
    <form class="d-flex flex-column" method="get" action="/search">
        <div class="d-flex flex-row" style="margin-top: 50px;">
            <input type="search"
            placeholder="City or Postal Code..." id="searchbar" name="searchterm">
            <button class="btn-primary ms-2" type="submit">GO</button>
        </div>
    </form>
<%- include('../partials/overlay-card/F') %>

<%- include('../partials/F') %>
