<%- include('../partials/H') %>

<div class="content">
    <h2>
        <% if (user._id.toString() == order.user.toString()) { %>
            Your order
        <% } else { %>
            Order
        <% } %>
        to <strong><%= restaurant.name %></strong>
    </h2>
    <small>Order ID: <%= order._id.toString() %></small>
</div>

<%- include('../partials/card-view/H') %>
<div>
    <p>
        <big>Status: <strong id="statusDisplay"><%= order_status %></strong></big>
    </p>
    <% if (user._id.toString() == restaurant.owner.toString() || user.is_superuser) { %>
        <div class="my-4">
            <% if (order_status == 'Submitted') { %>
                <button class="btn-outline-success" id="acceptBtn" onclick="acceptOrder()">Accept Order</button>
                <button class="btn-outline-danger" id="rejectBtn" onclick="rejectOrder()">Reject Order</button>
            <% } else if (order_status == 'Pending') { %>
                <button class="btn-outline-success" id="acceptBtn" onclick="completeOrder()">Complete Order</button>
                <button class="btn-outline-danger" id="rejectBtn" onclick="rejectOrder()">Cancel Order</button>
            <% } %>
        </div>
        <script>
            function _chOrderStatus(status) {
                ['acceptBtn', 'rejectBtn'].forEach(i => {
                    document.getElementById(i).disabled = true
                })
                fetch('/order/<%= order._id %>/status', {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({status: status})
                }).then(res => {
                    if (res.ok) return res.text()
                    throw Error(res.statusText)
                }).then(res => {
                    location.reload()
                }).catch(err => {
                    console.error(err);
                    ['acceptBtn', 'rejectBtn'].forEach(i => {
                        document.getElementById(i).disabled = false
                    })
                })
            }
            function acceptOrder() {_chOrderStatus('PENDING')}
            function rejectOrder() {_chOrderStatus('CANCELLED')}
            function completeOrder() {_chOrderStatus('COMPLETED')}
        </script>
    <% } %>
    <p>
        Submitted at <strong><%= order.submittedDateTime.toLocaleString() %></strong>
    </p>
    <p>Deliver to: <strong><%= order.delivery_address.address %></strong></p>
    <h5>Order Summary</h5>
    <ul class="list-group list-group-flush" id="menuItemsList">
        <% order.menu_items.forEach(item => { %>
            <li class="d-flex flex-row justify-content-between align-items-center">
                <p class="my-0">
                    <strong><%= item.name %></strong><br>
                    &euro; <%= item.price %><br>
                </p>
            </li>
        <% }) %>
    </ul>
    <hr>
    <p class="text-end"><big>Total: &euro; <strong><%=
        order.menu_items.map(i => i.price).reduce((p1, p2) => p1+p2)
    %></strong></big></p>
    <hr>
    <% if (order.notes) { %>
        <h6>Notes:</h6>
        <p><%= order.notes %></p>
    <% } else { %><p><em>No additional notes for this order</em></p><% } %>
</div>
<%- include('../partials/card-view/F') %>

<script>
    function updateStatus() {
        fetch(
            '/order/<%= order._id.toString() %>/status', {method: 'GET'}
        ).then(res => {
            if (res.ok) return res.json()
            throw Error(res.statusText)
        }).then(res => {
            document.getElementById('statusDisplay').innerText = res.status
            if (res.status == 'Cancelled' || res.status == 'Completed') {return}
            setTimeout(() => updateStatus(), 30000)  // update every 30 seconds
        }).catch(err => {
            console.error(err)
        })
    }

    setTimeout(() => updateStatus(), 30000)  // update every 30 seconds
</script>

<%- include('../partials/F') %>
