<%- include('../partials/H') %>

<div class="content">
    <h2>Your orders</h2>
</div>

<% orders.forEach(order => { %>
    <%- include('../partials/card-view/H') %>
        <div>
            <p>
                Order submitted
                <%= order.submittedDateTime.toLocaleString() %><br>
                <small>ID: <%= order._id.toString() %></small>
            </p>
            <p>Status: <strong><%= order.order_status %></strong></p>
            <p><%= order.menu_items.length %> items</p>
            <a class="btn btn-outline-primary" href="/order/<%= order._id.toString() %>">
                View Details
            </a>
        </div>
    <%- include('../partials/card-view/F') %>
<% }) %>

<%- include('../partials/F') %>
