<%- include('../partials/H') %>

<div class="content">
    <form class="d-flex flex-column" method="get" action="/search">
        <div class="d-flex flex-row" style="margin-top: 50px;">
            <input type="search"
                placeholder="City or Postal Code..." id="searchbar" name="searchterm"
                value="<%= searchterm %>">
            <button class="btn-primary ms-2" type="submit">GO</button>
        </div>
    </form>
</div>

<% if (restaurants.length > 0) { %>
    <% restaurants.forEach(restaurant => { %>
        <%- include('../partials/card-view/H') %>
            <div class="d-flex flex-row align-items-center">
                <img class="rlogo" src="<%= restaurant.logo? restaurant.logo : '/img/default_restaurant_logo.svg' %>" alt="logo" />
                <strong><big><a href="/restaurant/<%= restaurant._id %>"><%= restaurant.name %></a></big></strong>
            </div>
        <%- include('../partials/card-view/F') %>
    <% }) %>
<% } else { %>
    <div class="content text-center">
        <h3>Nothing here!</h3>
        <p>Try with another search</p>
    </div>
<% } %>

<%- include('../partials/F') %>
