<%- include('../partials/H') %>

<div class="content">
    <h2>My account</h2>
    <p>Logged in as <strong><%= user.username %></strong></p>
</div>
<%- include('../partials/card-view/H') %>
    <div>
        <h3>Addresses</h3>
        <button class="btn-outline-primary" type="button"
            data-bs-toggle="modal"
            data-bs-target="#newAddressModal">
            <i class="bi-plus"></i>Add
        </button>
        <ul class="list-group list-group-flush" id="addressesList">
            <% user.addresses.forEach(addr => { %>
                <li class="d-flex flex-row justify-content-between align-items-center">
                    <p class="my-0">
                        <%= addr.address %>,
                        <%= addr.postal_code %> <%= addr.city %>,
                        <%= addr.country %><br>
                        <% if (addr.intercom) { %>
                            Intercom: <%= addr.intercom %>
                        <% } else { %><small><em>No intercom info</em></small><% } %>
                    </p>
                    <div>
                        <% let addr_repr = Buffer.from(JSON.stringify(addr), 'utf-8').toString('base64') %>
                        <button type="button" title="Delete"
                            onclick="deleteAddress('<%= addr_repr %>')"
                        >
                            <i class="bi-trash-fill"></i>
                        </button>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
<%- include('../partials/card-view/F') %>

<%- include('../partials/confirm-modal') %>

<script>
    var __selected_addr = null
    function deleteAddress(addr) {
        __selected_addr = addr
        let yesBtn = document.getElementById('confirmModalYesBtn')
        let errDiv = document.getElementById('confirmModalErr')
        errDiv.classList.remove('is-invalid')
        let modal = new bootstrap.Modal(document.getElementById('confirmModal'))
        yesBtn.onclick = () => {
            yesBtn.disabled = true
            fetch(`/user/address`, {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
                body: atob(__selected_addr)
            }).then(res => {
                if (res.ok) return res.text()
                else throw Error(res.statusText)
            }).then(res => {
                location.reload()
            }).catch(err => {
                yesBtn.disabled = false
                errDiv.classList.add('is-invalid')
            })
        }
        modal.show()
    }
</script>

<%- include('../partials/new-address-modal') %>

<%- include('../partials/card-view/H') %>
        <div>
            <h3>Change Password</h3>
            <%- include('../components/form', {
                _form: {
                    id: 'changePasswordForm',
                    btn: {
                        text: 'Change Password',
                        id: 'changePasswordBtn',
                        onclick: 'changePassword()',
                        cls: 'd-block ms-auto btn-outline-danger'
                    },
                    fields: [
                        {
                            label: 'Current Password',
                            name: 'currentPassword',
                            type: 'password',
                            err: 'Please insert your <strong>current</strong> password'
                        },
                        {
                            label: 'New Password',
                            name: 'newPassword',
                            type: 'password',
                            err: 'Please insert a <strong>new</strong> password'
                        },
                        {
                            label: 'Repeat New Password',
                            name: 'newPasswordRepeat',
                            type: 'password',
                            err: 'The passwords do not match'
                        }
                    ]
                }
            }) %>

            <div class="toast align-items-center text-bg-success border-0 mx-auto my-2"
                role="alert" aria-live="assertive" aria-atomic="true"
                id="changePasswordSuccessToast"
            >
                <div class="d-flex">
                    <div class="toast-body">
                        Password changed successfully!
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast" aria-label="Close">
                    </button>
                </div>
            </div>
        </div>
<%- include('../partials/card-view/F') %>

<script>
    function resetChangePasswordForm() {
        [
            'currentPasswordEntry', 'newPasswordEntry',
            'newPasswordRepeatEntry', 'changePasswordFormErr'
        ].forEach(
            i => document.getElementById(i).classList.remove('is-invalid')
        )
    }

    function changePassword() {
        resetChangePasswordForm()
        document.getElementById('changePasswordBtn').disabled = true;
        let data = Object.fromEntries(new FormData(document.getElementById('changePasswordForm')))
        let ok = true
        if (!data.currentPassword) {
            document.getElementById('currentPasswordEntry').classList.add('is-invalid')
            ok = false
        }
        if (!data.newPassword) {
            document.getElementById('newPasswordEntry').classList.add('is-invalid')
            ok = false
        }
        if (data.newPassword != data.newPasswordRepeat) {
            document.getElementById('newPasswordRepeatEntry').classList.add('is-invalid')
            ok = false
        }
        if (ok) {
            fetch('/user/password', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => {
                if (res.ok) return res.text()
                else throw Error(res.statusText)
            }).then(res => {
                document.getElementById('changePasswordBtn').disabled = false
                resetChangePasswordForm();
                [
                    'currentPasswordEntry', 'newPasswordEntry',
                    'newPasswordRepeatEntry'
                ].forEach(
                    i => document.getElementById(i).value = ''
                )
                new bootstrap.Toast(document.getElementById('changePasswordSuccessToast')).show()
            }).catch(err => {
                console.error(err)
                document.getElementById('changePasswordFormErr').classList.add('is-invalid')
                document.getElementById('changePasswordBtn').disabled = false
            })
        }
        else {
            document.getElementById('changePasswordBtn').disabled = false
        }
    }
</script>

<% if (user.is_admin || user.is_superuser) { %>
    <%- include('../partials/card-view/H') %>
        <div>
            <h3>Your Restaurants</h3>
            <a class="btn btn-outline-primary" href="/restaurant/new">
                <i class="bi-plus"></i>Add
            </a>
            <ul class="list-group list-group-flush">
                <% restaurants.forEach(r => { %>
                    <li class="d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <img class="rlogo" alt="logo"
                            src="<%= r.logo ? r.logo : '/img/default_restaurant_logo.svg' %>">
                            <p class="my-0">
                                <a href="/restaurant/<%= r._id %>"><%= r.name %></a><br>
                            </p>
                        </div>
                        <div>
                            <a class="btn" title="Edit" href="/restaurant/<%= r._id %>/edit">
                                <i class="bi-pencil-fill"></i>
                            </a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    <%- include('../partials/card-view/F') %>
<% } else { %>
    <%- include('../partials/card-view/H') %>
        <div>
            <p><a href="/upgrade_request/new">Do you own a restaurant?</a></p>
        </div>
    <%- include('../partials/card-view/F') %>
<% } %>

<%- include('../partials/F') %>
