<%- include('../../partials/H') %>

<div class="content d-flex flex-row align-items-center">
    <a class="btn me-2" href="/restaurant/<%= restaurant._id.toString() %>" title="Back">
        <i class="bi-chevron-left"></i>
    </a>
    <h2>Editing <strong><%= restaurant.name %></strong></h2>
</div>

<%- include('../../partials/card-view/H') %>
    <div>
        <h3>Base Data</h3>
        <%- include('../../components/form', {
            _form: {
                id: 'editRestaurantForm',
                onchange: 'resetEditRestaurantForm()',
                btn: {
                    text: 'Update',
                    cls: 'ms-auto d-block btn-primary',
                    id: 'updateBaseDataBtn',
                    onclick: 'updateBaseData()'
                },
                fields: [
                    {
                        label: 'Name',
                        name: 'name',
                        err: 'Please insert a name',
                        value: restaurant.name
                    },
                    {
                        label: 'Phone number',
                        name: 'phone',
                        err: 'Please insert a phone number',
                        value: restaurant.phone
                    },
                    {
                        label: 'Country',
                        name: 'country',
                        err: 'Please insert your country',
                        value: restaurant.address.country
                    },
                    {
                        label: 'Address',
                        name: 'address',
                        err: 'Please insert your address',
                        value: restaurant.address.address
                    },
                    {
                        label: 'City',
                        name: 'city',
                        err: 'Please insert your city',
                        value: restaurant.address.city
                    },
                    {
                        label: 'Postal Code',
                        name: 'postal_code',
                        id: 'postalCodeEntry',
                        err: 'Please insert your postal code',
                        value: restaurant.address.postal_code
                    }
                ]
            }
        }) %>
    </div>
<%- include('../../partials/card-view/F') %>

<%- include('../../partials/form-helper.ejs') %>

<script>
    function resetEditRestaurantForm() {
        resetForm([
            'nameEntry', 'phoneEntry',
            'countryEntry', 'addressEntry', 'cityEntry', 'postalCodeEntry',
            'editRestaurantFormErr'
        ])
    }

    function updateBaseData() {
        resetEditRestaurantForm()
        setBtnDisabled('updateBaseDataBtn', true)
        if (!checkForm([
                'nameEntry', 'phoneEntry',
                'countryEntry', 'addressEntry', 'cityEntry', 'postalCodeEntry'
        ])) {
            setBtnDisabled('updateBaseDataBtn', false)
            return
        }
        let data = getData('editRestaurantForm')
        fetch('/restaurant/<%= restaurant.id %>', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            location.reload()
        }).catch(err => handleErr(err, 'editRestaurantFormErr', 'updateBaseDataBtn'))
    }
</script>

<%- include('../../partials/card-view/H') %>
    <div>
        <h3>Pictures</h3>
        <form enctype="multipart/form-data">
            <div>
                <div class="d-flex flex-row align-items-center">
                    <img id="logoView" class="rlogo" src="<%= restaurant.logo ? restaurant.logo : '/img/default_restaurant_logo.svg' %>" alt="logo">
                    <div class="flex-grow-1">
                        <label for="logoEntry">Logo</label>
                        <input type="file" name="logo" id="logoEntry" />
                    </div>
                </div>
            </div>
            <button type="button" class="d-block ms-auto btn-primary" id="uodateLogoBtn" onclick="updateLogo()">Update</button>
        </form>
        <hr>
        <form enctype="multipart/form-data">
            <div>
                <div class="d-flex flex-row align-items-center">
                    <div class="flex-grow-1">
                        <label for="imageEntry">Cover Image</label>
                        <input type="file" name="image" id="imageEntry" />
                    </div>
                </div>
            </div>
            <button type="button" class="d-block ms-auto btn-primary" id="uodateImageBtn" onclick="updateImage()">Update</button>
        </form>
    </div>
<%- include('../../partials/card-view/F') %>

<script>
    function _updateSomeImage(name, input, preview=null) {
        let file = document.getElementById(input).files[0]
        if (!file) return
        let formData = new FormData()
        formData.append(name, file)
        fetch(`/restaurant/<%= restaurant._id.toString() %>/${name}`, {
            method: 'POST',
            body: formData
        }).then(res => {
            if (res.ok) return res.text()
            else throw Error(res.statusText)
        }).then(res => {
            if (preview) {
                document.getElementById(preview).src = res
            }
        }).catch(err => {
            console.error(err)
        })
    }

    function updateLogo() {
        _updateSomeImage('logo', 'logoEntry', 'logoView')
    }
    function updateImage() {
        _updateSomeImage('image', 'imageEntry')
    }
</script>

<%- include('../../partials/card-view/H') %>
    <div>
        <h3>Menu</h3>
        <button class="btn-outline-primary" type="button"
            data-bs-toggle="modal"
            data-bs-target="#newMenuItemModal">
            <i class="bi-plus"></i>Add
        </button>
        <ul class="list-group list-group-flush" id="menuItemsList">
            <% restaurant.menu.forEach(item => { %>
                <li class="d-flex flex-row justify-content-between align-items-center">
                    <p class="my-0">
                        <strong><%= item.name %></strong><br>
                        <%= item.category %><br>
                        &euro; <%= item.price %><br>
                        <%= item.ingredients %><br>
                        <%= item.notes %><br>
                    </p>
                    <div>
                        <% let menuitem_repr = Buffer.from(JSON.stringify(item), 'utf-8').toString('base64') %>
                        <button type="button" title="Delete"
                            onclick="deleteMenuItem('<%= menuitem_repr %>')"
                        >
                            <i class="bi-trash-fill"></i>
                        </button>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
<%- include('../../partials/card-view/F') %>

<%- include('../../partials/confirm-modal') %>

<script>
    var __selected_menuitem = null
    function deleteMenuItem(menuitem) {
        __selected_menuitem = menuitem
        let yesBtn = document.getElementById('confirmModalYesBtn')
        let errDiv = document.getElementById('confirmModalErr')
        errDiv.classList.remove('is-invalid')
        let modal = new bootstrap.Modal(document.getElementById('confirmModal'))
        yesBtn.onclick = () => {
            yesBtn.disabled = true
            fetch(`/restaurant/<%= restaurant._id %>/menu`, {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
                body: atob(__selected_menuitem)
            }).then(res => {
                if (res.ok) return res.text()
                else throw Error(res.statusText)
            }).then(res => {
                location.reload()
            }).catch(err => {
                yesBtn.disabled = false
                errDiv.classList.add('is-invalid')
            })
        }
        modal.show()
    }
</script>

<%- include('../../partials/new-menuitem-modal') %>

<%- include('../../partials/F') %>
