<%- include('../../partials/H') %>
    <%- include('../../partials/card-view/H') %>
        <div>
            <h2>New Restaurant</h2>
            <%- include('../../components/form', {
                _form: {
                    id: 'newRestaurantForm',
                    onchange: 'resetNewRestaurantForm()',
                    fields: [
                        {
                            label: 'Name',
                            name: 'name',
                            err: 'Please insert a name'
                        },
                        {
                            label: 'Phone number',
                            name: 'phone',
                            err: 'Please insert a phone number'
                        },
                        {
                            label: 'Country',
                            name: 'country',
                            err: 'Please insert your country'
                        },
                        {
                            label: 'Address',
                            name: 'address',
                            err: 'Please insert your address'
                        },
                        {
                            label: 'City',
                            name: 'city',
                            err: 'Please insert your city'
                        },
                        {
                            label: 'Postal Code',
                            name: 'postal_code',
                            id: 'postalCodeEntry',
                            err: 'Please insert your postal code'
                        }
                        // TODO: add logo, image, menu
                    ]
                }
            }) %>
            <div class="d-flex flex-row justify-content-end">
                <a href="/user/account" class="btn btn-secondary">Cancel</a>
                <button class="btn-primary ms-1" id="addRestaurantBtn"
                    onclick="addRestaurant()"
                >
                    Add
                </button>
            </div>
        </div>
    <%- include('../../partials/card-view/F') %>

<%- include('../../partials/form-helper') %>

<script>
    function resetNewRestaurantForm() {
        resetForm([
            'nameEntry', 'phoneEntry',
            'countryEntry', 'addressEntry', 'cityEntry', 'postalCodeEntry',
            'newRestaurantFormErr'
        ])
    }

    function addRestaurant() {
        resetNewRestaurantForm()
        setBtnDisabled('addRestaurantBtn', true)
        if (!checkForm([
                'nameEntry', 'phoneEntry',
                'countryEntry', 'addressEntry', 'cityEntry', 'postalCodeEntry'
        ])) {
            setBtnDisabled('addRestaurantBtn', false)
            return
        }
        let data = getData('newRestaurantForm')
        fetch('/restaurant', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.ok) return res.json()
            else throw Error(res.statusText)
        }).then(res => {
            location.href = `/restaurant/${res._id}`
        }).catch(err => handleErr(err, 'newRestaurantFormErr', 'addRestaurantBtn'))
    }
</script>

<%- include('../../partials/F') %>
