<%- include('../../partials/H') %>

<div class="coverImage" style="background-image: url('<%= restaurant.image ? restaurant.image : '/img/default_restaurant_image.svg' %>')"></div>

<%- include('../../partials/overlay-card/H') %>
    <div class="d-flex flex-row justify-content-between align-items-center content mb-5">
        <div class="d-flex flex-row align-items-center">
            <img class="rlogo" src="<%= restaurant.logo ? restaurant.logo : '/img/default_restaurant_logo.svg' %>" alt="logo">
            <h2><%= restaurant.name %></h2>
        </div>
        <% if (locals.user && ((user.is_admin && user._id.toString() == restaurant.owner.toString()) || user.is_superuser)) { %>
            <div class="d-flex flex-column">
                <a class="btn" href="/restaurant/<%= restaurant._id %>/edit"><i class="bi-pencil-fill"></i> Edit</a>
                <a class="btn" href="/restaurant/<%= restaurant._id %>/orders"><i class="bi-receipt-cutoff"></i> Orders</a>
            </div>
        <% } %>
    </div>
    <div class="text-center">
        <p><a title="Phone" class="btn btn-outline-secondary" href="tel:<%= restaurant.phone %>">
            <i class="bi-telephone-fill"></i>
            <%= restaurant.phone %>
        </a></p>
        <p>
            <i title="Location" class="bi-pin-map-fill"></i>
            <%= restaurant.address.address %>,
            <%= restaurant.address.postal_code %> <%= restaurant.address.city %>;
            <%= restaurant.address.country %>
        </p>
    </div>
<%- include('../../partials/overlay-card/F') %>


<%- include('../../partials/card-view/H') %>
    <div>
        <ul class="list-group list-group-flush" id="menuItemsList">
            <% restaurant.menu.forEach(item => { %>
                <li class="d-flex flex-row justify-content-between align-items-center">
                    <p class="my-0">
                        <strong><%= item.name %></strong><br>
                        <%= item.category %><br>
                        &euro; <%= item.price %><br>
                        <%= item.ingredients %><br>
                        <%= item.notes %><br>
                    </p>
                    <div>
                        <% let menuitem_repr = Buffer.from(JSON.stringify(item), 'utf-8').toString('base64') %>
                        <button type="button" title="Add to Basket"
                            onclick="addToBasket(JSON.parse(atob('<%= menuitem_repr %>')))"
                        >
                            <i class="bi-bag-plus"></i>
                        </button>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
<%- include('../../partials/card-view/F') %>

<button id="basketBtn" class="hidden" type="button" title="Your Basket"
    data-bs-toggle="modal"
    data-bs-target="#basketModal"
>
    <big><i class="bi-bag-check-fill"></i></big>
    <span id="basketCounter">0</span>
</button>

<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="basketModalLabel">Your Basket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <% let validAddresses = locals.user ? user.addresses.filter(
                    addr => addr.postal_code == restaurant.address.postal_code
                ) : [] %>
                <div <% if (!locals.user) { %> style="display: none;" <% } %>>
                    <ul id="basketContent"></ul>
                    <hr>
                    <p class="text-end"><big>Total: &euro; <strong id="basketTotal">0.0</strong></big></p>
                    <form onsubmit="return false">
                        <div>
                            <label for="notesEntry">Additional notes, preferred delivery time</label>
                            <textarea id="notesEntry"></textarea>
                        </div>
                        <% if (validAddresses.length > 0) { %>
                            <div>
                                <label for="addressSelect">Delivery Address</label>
                                <select id="addressSelect">
                                    <% validAddresses.forEach(addr => { %>
                                        <option value="<%= addr._id %>">
                                            <%= addr.address %>, <%= addr.city %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } else { %>
                            <p class="text-danger">
                                You don't have any address in the same area (determined
                                by postal code) as this restaurant.<br>
                                Please add a new address with the same postal code.
                            </p>
                        <% } %>
                    </form>
                </div>
                <% if (!locals.user) { %>
                    <p>
                        Please <a href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#loginModal">Log in</a>
                        to complete your order
                    </p>
                <% } %>
            </div>
            <% if (locals.user) { %>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="checkout()" id="checkoutBtn">Checkout</button>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
    const BASKETS_KEY = 'amc_baskets'
    const RST_ID = '<%= restaurant._id.toString() %>'

    function getBaskets() { return JSON.parse(localStorage.getItem(BASKETS_KEY)) || {} }
    function setBaskets(_baskets) { localStorage.setItem(BASKETS_KEY,JSON.stringify(_baskets)) }

    var baskets = {}
    var thisBasket = []
    var curId = 0  // increments on any add
    var basketBtn = document.getElementById('basketBtn')
    var basketContent = document.getElementById('basketContent')
    var basketCounter = document.getElementById('basketCounter')
    var basketTotal = document.getElementById('basketTotal')
    function loadBasket() {
        curId = 0
        baskets = getBaskets();
        thisBasket = baskets[RST_ID] || []
        thisBasket.forEach(i => {
            addToBasket(i, true)
        })
        onBasketChange()
    }
    function saveBasket() {
        baskets[RST_ID] = thisBasket
        setBaskets(baskets)
    }

    function addToBasket(nItem, startup=false) {
        nItem.uid = curId
        curId++
        if (!startup) {
            thisBasket.push(nItem)
            onBasketChange()
        }
    }

    function removeFromBasket(uid) {
        thisBasket = thisBasket.filter(item => item.uid != uid)
        onBasketChange()
    }

    function rebuildBasketContent() {
        basketContent.innerText = ''
        let total = 0.0
        thisBasket.forEach(item => {
            let li = document.createElement('li')
            li.id = `basketItem-${item.uid}`
            let label = document.createElement('span')
            label.innerHTML = `${item.name}<br>&euro; ${item.price}`
            let delBtn = document.createElement('button')
            let delBtnIcon = document.createElement('i')
            delBtnIcon.classList.add('bi-bag-x')
            delBtn.title = 'Remove from Basket'
            delBtn.appendChild(delBtnIcon)
            delBtn.onclick = () => {removeFromBasket(item.uid)}
            li.appendChild(label)
            li.appendChild(delBtn)
            basketContent.appendChild(li)
            total += item.price
        })
        basketTotal.innerText = total
    }

    function onBasketChange() {
        rebuildBasketContent()
        basketCounter.innerText = thisBasket.length
        if (thisBasket.length > 0) {
            basketBtn.classList.remove('hidden')
        }
        else {
            basketBtn.classList.add('hidden')
        }
        saveBasket()
    }

    loadBasket()

    function checkout() {
        let validAddresses = JSON.parse('<%- JSON.stringify(validAddresses) %>');
        if (thisBasket.length <= 0 || validAddresses.length <= 0) {return}
        let selectedAddrId = document.getElementById('addressSelect').value
        let selectedAddr = validAddresses.filter(addr => addr._id == selectedAddrId)
        if (selectedAddr.length <= 0) {return}
        selectedAddr = selectedAddr[0]
        document.getElementById('checkoutBtn').disabled = true

        fetch('/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                restaurant_id: '<%= restaurant._id %>',
                menu_items: thisBasket,
                notes: document.getElementById('notesEntry').value,
                delivery_address: selectedAddr,
            })
        }).then(res => {
            if (res.ok) return res.json()
            else throw Error(res.statusText)
        }).then(res => {
            location.href = `/order/${res._id}`
        }).catch(err => {
            console.error(err)
            document.getElementById('checkoutBtn').disabled = false
        })
    }
</script>

<%- include('../../partials/F') %>
