@use "sass:math";

$jumbotronAnimationTime: 30s;
$jumbotronBaseDelay: math.div($jumbotronAnimationTime, 5);
.jumbotron {
    background-color: black;
    height: 600px;
    max-height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .im0, .im1, .im2, .im3, .im4 {
        width: 100%; height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute; top: 0; bottom: 0; left: 0; right: 0;
        animation: jumbotronImgFade $jumbotronAnimationTime ease infinite;
    }
    .im0 {
        background-image: url('/img/jumbotron/0.webp');
        animation-delay: ($jumbotronBaseDelay*1);
    }
    .im1 {
        background-image: url('/img/jumbotron/1.webp');
        animation-delay: ($jumbotronBaseDelay*2);
    }
    .im2 {
        background-image: url('/img/jumbotron/2.webp');
        animation-delay: ($jumbotronBaseDelay*3);
    }
    .im3 {
        background-image: url('/img/jumbotron/3.webp');
        animation-delay: ($jumbotronBaseDelay*4);
    }
    .im4 {
        background-image: url('/img/jumbotron/4.webp');
        animation-delay: ($jumbotronBaseDelay*5);
    }
}

@keyframes jumbotronImgFade {
    0%   {opacity: 1;}
    10%  {opacity: 0;}
    20%  {opacity: 0;}
    30%  {opacity: 0;}
    40%  {opacity: 0;}
    50%  {opacity: 0;}
    60%  {opacity: 0;}
    70%  {opacity: 0;}
    80%  {opacity: 0;}
    90%  {opacity: 1;}
    100% {opacity: 1;}
}
