$overlay_card_height: 250px;
$overlay_card_overlap: -80px;

.overlay-card {
    @extend .mx-auto;
    max-width: 600px;
    position: relative;
    margin-bottom: $overlay_card_height;
    > div {
        @extend .card;
        @extend .mx-2;
        height: $overlay_card_height;
        position: absolute;
        left: 0; right: 0;
        top: $overlay_card_overlap;
        > div {
            @extend .card-body;
            > h3, > h4, > h5, > h6 {
                @extend .card-title;
            }
        }
    }
}
