@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './semantic.scss';

$content_width: 800px;

@mixin limit_width {
    @extend .mx-auto;
    max-width: $content_width;
}

body, html {
    background-color: var(--bs-gray-200);
}

body > main > *, body > footer {
    @extend .p-2;
}

#searchbar {
    font-size: 1.3em;
}

@import './jumbotron.scss';
@import './overlay-card.scss';

.card-view {
    @include limit_width;
    > div {
        @extend .card;
        @extend .mx-2;
        > div {
            @extend .card-body;
            > h1, > h2, > h3, > h4, > h5, > h6 {
                @extend .card-title;
            }
        }
    }
}

.content {
    @include limit_width;
    display: block;
}

.error {
    @extend .alert;
    @extend .alert-danger;
    display: none;
    &.is-invalid {
        display: block;
    }
}

.rlogo {
    @extend .me-4;
    display: block;
    width: 50px; height: 50px;
    object-fit: cover;
    border-radius: $border-radius;
}

.coverImage {
    background-color: black;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#basketBtn {
    @extend .btn-primary;
    display: block;
    position: fixed;
    bottom: 30px; right: 30px;
    border-radius: 100%;
    width: 60px; height: 60px;
    box-shadow: $box-shadow;
    &.hidden {
        display: none;
    }
    span#basketCounter {
        @extend .position-absolute;
        @extend .start-100;
        @extend .translate-middle;
        @extend .badge;
        @extend .rounded-pill;
        @extend .bg-danger;
        top: 5px;
    }
}

ul#basketContent {
    @extend .list-group;
    @extend .list-group-flush;
    li {
        @extend .d-flex;
        @extend .flex-row;
        @extend .justify-content-between;
        @extend .align-items-center;
        button {
            @extend .btn-outline-danger;
        }
    }
}

footer {
    @include limit_width;
    @extend .text-center;
    > *:first-child {
        margin-top: 200px;
    }
}
